/* Primary Colors */
:root {
  --primary-blue: #003366;
  --secondary-blue: #0056A2;
  --white: #FFFFFF;
  --gray-background: #F1F1F1;
  --black: #000000;
  --golden-accent: #FFD700;
  --error-red: #D32F2F;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

/* Base Styles */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--black);
  background-color: #f8f9fa;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

/* Dark Theme Styles */
body.dark-theme {
  background-color: #121212;
  color: var(--white);
}

body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme h6,
body.dark-theme label,
body.dark-theme .small-text {
  color: var(--white);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.2rem;
  color: var(--primary-blue);
}

label {
  color: var(--primary-blue);
}

p, .body-text {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.4rem;
}

label, .small-text {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.6rem;
  color: var(--secondary-blue);
}

/* Header Styles */
header {
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0056b3;
  color: white;
  position: sticky;
  top: 0;
}

header h1 {
  margin: 0;
  color: var(--white);
  font-size: 2.4rem;
}

/* Button Styles */
button {
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  min-height: 5rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

button.primary {
  background-color: var(--primary-blue);
  color: var(--white);
}

button.primary:hover {
  background-color: #00284D;
}

button.secondary {
  background-color: var(--golden-accent);
  color: var(--black);
}

button.secondary:hover {
  background-color: #E6BE00;
}

button.error {
  background-color: var(--error-red);
  color: var(--white);
}

button.error:hover {
  background-color: #B71C1C;
}

/* Dark Theme Button Styles */
body.dark-theme button.primary {
  background-color: #00284D;
  color: var(--white);
}

body.dark-theme button.primary:hover {
  background-color: var(--primary-blue);
}

body.dark-theme button.secondary {
  background-color: #E6BE00;
  color: var(--black);
}

body.dark-theme button.secondary:hover {
  background-color: var(--golden-accent);
}

body.dark-theme button.error {
  background-color: #B71C1C;
  color: var(--white);
}

body.dark-theme button.error:hover {
  background-color: var(--error-red);
}

/* Backgrounds */
.bg-primary {
  background-color: var(--primary-blue);
}

.bg-secondary {
  background-color: var(--secondary-blue);
}

.bg-gray {
  background-color: var(--gray-background);
}

.bg-white {
  background-color: var(--white);
}

main {
  padding: 0.8rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}


#dataPreview {
  width: 100%;
  border-collapse: collapse;
}

#dataPreview td, #dataPreview th {
  border: 0.1rem solid #ddd;
  padding: 0.8rem;
}

.canvas-container {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.canvas-container canvas {
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  canvas {
    height: 40rem;
  }
}

/* Miscellaneous */
.color-button {
  width: 3rem;
  height: 3rem;
  border: none;
  margin: 0.2rem;
  cursor: pointer;
}

.color-button.selected {
  border: 0.2rem solid #000;
}

.pointer {
  cursor: pointer;
}

#dropZone {
  border: 0.2rem dashed #ccc;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}

#dropZone.dragover {
  border-color: #000;
}

.upload-section {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.drop-zone {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem
}

textarea {
  height: 20rem;
  padding: 0.8rem;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem
}

.divider:before,
.divider:after {
  content: '';
  flex: 1;
  border-bottom: 0.1rem solid #ccc;
}

.actions {
  width: 100%;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: flex-end;
  gap: 1.2rem;
}

.actions button {
  width: 100%;
}

.hidden {
  display: none !important;
}

.table-container {
  overflow-y: auto;
  flex: 1 1 auto;
}

#dataPreview {
  width: 100%;
  border-collapse: collapse;
}

#dataPreview thead {
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 1;
  border: 0.1rem solid #ddd;
}

body.dark-theme #dataPreview thead {
  background-color:  var(--black);
}

body.dark-theme textarea {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--white);
}

#dataPreview th, #dataPreview td {
  border: 0.1rem solid #ddd;
  padding: 0.8rem;
}

.preview-section {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 16rem);
}

.chart-type-select {
  select {
    height: 5rem;
    min-width: 15rem;
    width: 100%;
    padding: 0.8rem;
    font-weight: bold;
  }
}

#chartSection {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.input-element {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input-element input {
  min-height: 3rem;
  padding: 0.2rem 0.8rem;
}

.base-settings {
  display: flex;
  align-items: flex-end;
  gap: 1.2rem;
  width: 100%;
  margin-bottom: 1.2rem;
}

.base-settings .input-element {
  flex: 1;
}


#settingsSection {
  width: 100%;
  margin-bottom: 2rem;
}

input[type="number"] {
  width: 3rem;
  height: 2rem;
}

.chart-setting-element {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 0.1rem solid #ccc;
}

.chart-setting-element .small-text {
  width: 100%;
}

.chart-setting-element .settings {
  display: flex;
  align-items: center;
}

.chart-setting-element .settings> * {
  width: 50%;
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -32rem;
  transition: right 0.3s;
  width: 32rem;
  z-index: 997;
  background: var(--white);
  padding: 0.8rem;
  border-left: 0.1rem solid var(--primary-blue);
}

aside.active {
  right: 0;
}

body.dark-theme aside{
  background: var(--black);
  border-left: 0.1rem solid var(--white);
}

#exportSection {
  display: flex;
  gap: 1.2rem;
}

#exportSection button {
 flex: 1;
}

#closeBtn {
  cursor: pointer;
}
#tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  pointer-events: none;
  display: none;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  padding: 2rem;
  width: 80%;
  max-width: 80rem;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.close {
  cursor: pointer;
  color: #aaa;
  font-size: 2.8rem;
  font-weight: bold;
  align-self: end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body.dark-theme .close:hover,
body.dark-theme .close:focus {
  color: var(--white);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.dropdown-menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu.hidden {
  display: none;
}

body.grayscale {
  filter: grayscale(100%);
}

.horizontal-line {
  position: fixed;
  width: 100%;
  height: 2px;
  background: red;
  pointer-events: none;
  display: none;
}

body.dark-theme .horizontal-line {
  background: var(--white);
}

body.large-cursor *{
  cursor: url('big-cursor.svg'), auto !important;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body.dark-theme .modal-content {
  background: var(--black);
}

ol li {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}