/* Primary Colors */
:root {
  --primary-blue: #003366;
  --secondary-blue: #0056A2;
  --white: #FFFFFF;
  --gray-background: #F1F1F1;
  --black: #000000;
  --golden-accent: #FFD700;
  --error-red: #D32F2F;
}

html {
  font-size: 10px;
}

/* Base Styles */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: var(--black);
  background-color: #f8f9fa;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

/* Dark Theme Styles */
body.dark-theme {
  background-color: #121212;
  color: var(--white);
}

body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme h6,
body.dark-theme label,
body.dark-theme .small-text {
  color: var(--white);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.2rem;
  color: var(--primary-blue);
}

label {
  color: var(--primary-blue);
}

p, .body-text {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.4rem;
}

label, .small-text {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.6rem;
  color: var(--secondary-blue);
}

/* Header Styles */
header {
  flex: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0056b3;
  color: white;
  position: sticky;
  top: 0;
}

header h1 {
  margin: 0;
  color: var(--white);
  font-size: 2.4rem;
}

/* Button Styles */
button {
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.6rem;
  min-height: 5rem;
  font-weight: 600;
}

button.primary {
  background-color: var(--primary-blue);
  color: var(--white);
}

button.primary:hover {
  background-color: #00284D;
}

button.secondary {
  background-color: var(--golden-accent);
  color: var(--black);
}

button.secondary:hover {
  background-color: #E6BE00;
}

button.error {
  background-color: var(--error-red);
  color: var(--white);
}

button.error:hover {
  background-color: #B71C1C;
}

/* Dark Theme Button Styles */
body.dark-theme button.primary {
  background-color: #00284D;
  color: var(--white);
}

body.dark-theme button.primary:hover {
  background-color: var(--primary-blue);
}

body.dark-theme button.secondary {
  background-color: #E6BE00;
  color: var(--black);
}

body.dark-theme button.secondary:hover {
  background-color: var(--golden-accent);
}

body.dark-theme button.error {
  background-color: #B71C1C;
  color: var(--white);
}

body.dark-theme button.error:hover {
  background-color: var(--error-red);
}

/* Backgrounds */
.bg-primary {
  background-color: var(--primary-blue);
}

.bg-secondary {
  background-color: var(--secondary-blue);
}

.bg-gray {
  background-color: var(--gray-background);
}

.bg-white {
  background-color: var(--white);
}

main {
  padding: 0.8rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#settingsSection, #exportSection {
  width: 100%;
  max-width: 60rem;
  margin-bottom: 2rem;
}

#dataPreview {
  width: 100%;
  border-collapse: collapse;
}

#dataPreview td, #dataPreview th {
  border: 0.1rem solid #ddd;
  padding: 0.8rem;
}

canvas {
  width: 100%;
  height: 70rem;
}

@media (max-width: 768px) {
  canvas {
    height: 40rem;
  }
}

/* Miscellaneous */
.color-button {
  width: 3rem;
  height: 3rem;
  border: none;
  margin: 0.2rem;
  cursor: pointer;
}

.color-button.selected {
  border: 0.2rem solid #000;
}

.pointer {
  cursor: pointer;
}

#dropZone {
  border: 0.2rem dashed #ccc;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}

#dropZone.dragover {
  border-color: #000;
}

.upload-section {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.drop-zone {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem
}

textarea {
  height: 20rem;
  padding: 0.8rem;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem
}

.divider:before,
.divider:after {
  content: '';
  flex: 1;
  border-bottom: 0.1rem solid #ccc;
}

.button-actions {
  margin-bottom: 1.2rem;
}

.preview-section button {
  width: 100%;
}

.hidden {
  display: none !important;
}

.table-container {
  overflow-y: auto;
  flex: 1 1 auto;
}

#dataPreview {
  width: 100%;
  border-collapse: collapse;
}

#dataPreview thead {
  position: sticky;
  top: 0;
  background-color: #fff; /* Колір фону для з��головка */
  z-index: 1;
}

#dataPreview th, #dataPreview td {
  border: 1px solid #ddd;
  padding: 8px;
}

.preview-section {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 8rem);
}